body {
	font-family: Verdana, sans-serif;
	background: url(../img/bg.jpg);
 	background-size: cover; /*fundal peste tot*/

 /*background-position: 40% 60%;*/

}

a, a:hover, a:visited{
	text-decoration: none;
}

 

 .headerContent img{
	padding-right: 25px;
	width: 180px;
	height: 232px;
}
.headerContent {
	padding: 20px 25px;
}
.headerContent h1 {
	margin-top: 30px;
	text-transform: uppercase;
	font-family: 'Georgia';
	font-size: 40px;
	font-weight: 800;
}
.headerContent h3 {
	font-style: italic;
	margin-top:30px;
	letter-spacing: 1px;
	font-size:25px;
	padding-right: 25px;
}


.pageMenu {
	  	background: rgb(0,0,67);
	  	/*
	  	linia albastru inchis
	  	*/
}
.navbar li {
	display: inline-block; /*lista orizontala */
	line-height: 45px;
	margin: 5px 15px;
	
  	border-radius: 15px; /*face butoane tesite la colturi*/
  
  	background: rgba(2,150,255,0.6);
  	
}
.navbar li a {
	font-weight: 600;
	font-size: 15px;
	padding: 0px 10px;
	color: #fff;
	/*scrisul dupa butoane*/
}
.navbar li:hover {
	background: rgba(2,120,255,0.66);
	/* buton activ*/
}
.navbar li.link-activ {
	background: rgba(55,10,250,0.66);
	/* Pagina Principala */
}
.clear {
	clear: both;
}

.Continut{
	padding: 15px;
	
}
.ContinutStanga {
	width:70%;
	background: rgba(255,255,255,.66);
  	border-radius: 15px;
  	
  	padding:20px;
  	float: left;
  	
}
.ContinutDreapta {
  	width: 23%;
  	float: right;
}
.Caseta {
	border-radius: 15px;
	
  	background: rgba(10,15,255,.34);
  	
  	padding:5px 20px;
  	margin-bottom: 25px;
  	color: #fff;
}

.Caseta img {
	width: 100%;
	height: 100%;
}

.Caseta img.facebook {
	border-radius:25px;
	
}
.meniu-lateral {
	
	  margin: 5px 5px 5px 5px  ;
}
.meniu-lateral li {
	list-style: square;;
	/*line-height: 30px;*/

}
.meniu-lateral li a {
	
	
	font-size: 15px;
	
	color: white;
}


